<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SiteUrl" value="http://www.livefootballol.com/acestream-channel-list.html" />
    <add key="HtmlElement" value="customers" />
    <add key="OutputFileName" value="streams.m3u" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>